body {
  margin: 0;
}

section {
  margin: 10px;
  text-align: center;
}

header {
  background: skyblue;
  padding: 10px;
  margin: 0px;
  text-align: center;
}

.title {
  font-family: 'Bebas Neue', cursive;
  padding: 0;
  margin: 0;
  letter-spacing: 0.25rem;
}
.top {
  font-size: 3rem;
  font-weight: 700;
}

.bottom {
  font-size: 2rem;
  font-weight: 500;
}

#input-area {
  margin-top: 3rem;
}

#todo-area {
  padding: 2rem;
}

.todo-item {
  padding: 0.5rem;
}

ul {
  list-style: none;
  font-family: 'Karla', sans-serif;
}

.complete {
  text-decoration: line-through;
}

input[type='checkbox']:checked + label.strikethrough {
  text-decoration: line-through;
}
