body {
  margin: 0;
}

th {
  border: 1px solid black;
  padding: 5px;
}

section {
  margin: 10px;
  text-align: center;
}

header {
  background: peru;
  padding: 5px;
  margin: 0px;
  text-align: center;
}

table {
  margin: auto;
}

.complete {
  text-decoration: line-through;
}

.hidden {
  visibility: hidden;
}
