body {
  margin: 0;
}

section {
  margin: 10px;
  text-align: center;
}

header {
  background: skyblue;
  padding: 5px;
  margin: 0px;
  text-align: center;
}

#todo-area {
  padding: 2rem;
}

ul {
  list-style: none;
}

.complete {
  text-decoration: line-through;
}

.hidden {
  visibility: hidden;
}
